:root {
    --black: hsl(240, 6%, 13%);
    --bg-dark: hsl(240, 6%, 8%);
    --gray: hsl(240, 9%, 89%);
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    /* height: 100%; */
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    display: grid;
    place-items: center;
}

main {
    background: url('images/background-mobile.svg') no-repeat center/cover;
    min-height: 812px;
    height: 100vh;
    width: 100%;
}

.container {
    animation: fade 500ms;
    color: var(--gray);
    margin: 0 auto;
    max-width: 250px;
    text-align: center;
}

.container>a img {
    margin-right: .75rem;
}

.avatar {
    margin: 11.5rem auto 0;
    position: relative;
    width: 10rem;
}

.avatar span {
    position: absolute;
    top: -15px;
    z-index: 1;
}

img[src="images/build.svg"] {
    animation: rotate 4000ms;
}

.avatar>img {
    animation: fade 500ms 500ms backwards;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    filter: grayscale(1) brightness(0.75) contrast(150%);
    height: 11.5rem;
    /* faz com que a imagem se adapte dentro do espaço disponível */
    object-fit: cover;
    -webkit-filter: grayscale(1) brightness(0.75) contrast(150%);
    width: 10rem;
}

h1 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

a {
    align-items: center;
    color: var(--gray);
    display: flex;
    justify-content: center;
    margin-top: .25rem;
    text-decoration: none;
}

p {
    margin-top: 2rem;
}

ul {
    display: flex;
    gap: .5rem;
    justify-content: center;
    list-style: none;
    margin-top: 4rem;
}

.youtube {
    animation: move-x 200ms 200ms backwards;
}

.facebook {
    animation: move-x 300ms 250ms backwards;
}

.instagram {
    animation: move-x 400ms 300ms backwards;
}

.twitter {
    animation: move-x 500ms 350ms backwards;
}


/* MEDIA QUERIES */

@media screen and (min-width:720px) {
    main {
        background: url('images/background-desktop.svg') var(--bg-dark) no-repeat center;
    }
    .range {
        animation: nono .5s backwards 50ms;
        background: url('images/range.svg') no-repeat center/cover;
        height: 168px;
        margin: 0 auto;
        width: 64px;
        position: relative;
        z-index: 2;
    }
    .range-dark {
        animation: fade 900ms 450ms backwards;
        background: var(--black);
        border: 1px solid var(--black);
        border-radius: .125rem;
        height: 8px;
        margin: 0 auto;
        position: relative;
        bottom: 2px;
        width: 80px;
        z-index: 1;
    }
    .container {
        background: url('images/mask.svg') var(--black);
        height: 540px;
        max-width: 358px;
        position: relative;
        top: -1rem;
    }
    .container.shake {
        animation: shake 2s 50ms ease-in-out backwards, fade paused;
    }
    .avatar {
        margin: 0 auto;
        padding-top: 4.5rem;
    }
    .avatar span {
        top: 60px;
    }
    p {
        max-width: 262px;
        margin: 2rem auto 0;
    }
}


/* ANIMATIONS */

@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes move-x {
    from {
        opacity: 0;
        transform: translateX(-35%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes move-y {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes nono {
    0% {
        transform: translateY(-20%);
    }
    35% {
        transform: translateY(.5%)
    }
    70% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes shake {
    0% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-3deg);
    }
    70% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(0);
    }
}